.profile__edit-button {
	background: transparent url(../../../images/profile/Edit-Button.svg);
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	cursor: pointer;
	height: 24px;
	margin-top: 15px;
	transition: .3s ease;
	width: 24px;
}

.profile__edit-button:hover {
	opacity: 0.6;
 }
 
 @media screen and (max-width: 480px) {
	.profile__edit-button {
	  width: 18px;
	  height: 18px;
	  margin-top: 8px;
	}
 }