.element__delete {
	position: absolute;
	background: transparent url(../../../images/elements/delete.svg);
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	transition: 0.3s ease;
	height: 19px;
	width: 18px;
	top: 20px;
	right: 20px;
 }
 
 .element__delete:hover{
	 opacity: 0.6;
 }