.popup__close-button {
  background: transparent url(../../../images/popup/Close-icon.svg) 50%
    no-repeat;
  border: none;
  cursor: pointer;
  height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  transition: 0.3s ease;
  width: 32px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 720px) {
  .popup__close-button {
    top: -36px;
    right: -36px;
  }
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    background: transparent url(../../../images/popup/Close-icon-mobile.svg) 50%
      no-repeat;
    width: 20px;
    height: 20px;
    right: 0;
  }
}
